.credit-card-form {
  border-bottom: 2px solid #f5f5f5;
  margin-top: 15px;
  padding-bottom: 30px;
}

.Cardpage {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.buy-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

.input-expiration-date-wrap {
  width: 100%;
  display: flex;
  text-align: center;
  line-height: 55px;
}
