// Place all the styles related to the reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.register-btn2 {
  width: 50%;
  margin: 50px auto;
  position: relative;
}

.register-red-btn2 {
  width: 100%;
  background: #fa6775;
  border: 1px solid #f52549;
  color: #fff;
  line-height: 48px;
  font-size: 14px;
  cursor: pointer;
}

.form-group2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
}

.shipping-address-form {
  margin-top: 15px;
}

.info-input-haedline {
  text-align: center;
  font-weight: lighter;
  font-size: 20px;
}